<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:camel="http://camel.apache.org/schema/spring"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:util="http://www.springframework.org/schema/util"
			 xmlns="http://www.springframework.org/schema/beans"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://camel.apache.org/schema/spring
       									http://camel.apache.org/schema/spring/camel-spring.xsd
       									http://www.springframework.org/schema/context
       									http://www.springframework.org/schema/context/spring-context.xsd
       									http://www.springframework.org/schema/util
       					 				http://www.springframework.org/schema/util/spring-util.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="com.bpcbt.sv.camel.authtrans"/>
	<!-- set System properties -->
	<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetObject">
			<bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
				<property name="targetClass" value="java.lang.System"/>
				<property name="targetMethod" value="getProperties"/>
			</bean>
		</property>
		<property name="targetMethod" value="putAll"/>
		<property name="arguments">
			<util:properties>
				<prop key="javax.net.ssl.keyStore">src/test/resources/APP1.jks</prop>
				<prop key="javax.net.ssl.keyStorePassword">mint</prop>
				<prop key="javax.net.ssl.trustStore">src/test/resources/APP1.jks</prop>
				<prop key="javax.net.ssl.trustStorePassword">mint</prop>
				<!--<prop key="javax.net.debug">all</prop>-->
				<!--<prop key="javax.net.debug">help</prop>-->
				<prop key="com.ibm.mq.cfg.useIBMCipherMappings">false</prop>
				<prop key="https.protocols">TLSv1,TLSv1.1,TLSv1.2</prop>
			</util:properties>
		</property>
	</bean>
	<!-- load properties from camel.properties -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="camel.properties"/>
	</bean>
	<!-- config datasource -->
	<bean id="boDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@sber-mpc-ol12.bt.bpc.in:1521:svbo"/>
		<property name="username" value="main"/>
		<property name="password" value="main1"/>
	</bean>
	<!--Setup datasource example 1 -->
	<!--<jee:jndi-lookup id="dbDataSource" jndi-name="jdbc/SVWeb" expected-type="javax.sql.DataSource"/>-->
	<!--Setup datasource example 2 -->
	<!--<bean id="boDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
	<!--<property name="jndiName" value="java:comp/env/jdbc/SVWeb"/>-->
	<!--</bean>-->
	<bean id="jaxbDataTypes" class="org.apache.camel.converter.jaxb.JaxbDataFormat">
		<constructor-arg type="java.lang.String" value="com.bpcbt.sv.camel.authtrans.schema"/>
	</bean>
	<bean id="ibmWmqIncoming" class="com.bpcbt.sv.camel.authtrans.IbmWmqParams">
		<property name="componentName" value="wmqIncoming"/>
		<property name="host" value="${ibm_wmq_incoming_host}"/>
		<property name="port" value="${ibm_wmq_incoming_port}"/>
		<property name="queueManager" value="${ibm_wmq_incoming_queue_manager}"/>
		<property name="channel" value="${ibm_wmq_incoming_channel}"/>
		<property name="sslCipherSuite" value="${ibm_wmq_incoming_ssl_cipher_suite}"/>
		<property name="username" value="${ibm_wmq_incoming_username}"/>
		<property name="password" value="${ibm_wmq_incoming_password}"/>
		<property name="queueName" value="${ibm_wmq_incoming_queue_name}"/>
	</bean>
	<bean id="ibmWmqOutgoing" class="com.bpcbt.sv.camel.authtrans.IbmWmqParams">
		<property name="componentName" value="wmqOutgoing"/>
		<property name="host" value="${ibm_wmq_outgoing_host}"/>
		<property name="port" value="${ibm_wmq_outgoing_port}"/>
		<property name="queueManager" value="${ibm_wmq_outgoing_queue_manager}"/>
		<property name="channel" value="${ibm_wmq_outgoing_channel}"/>
		<property name="sslCipherSuite" value="${ibm_wmq_outgoing_ssl_cipher_suite}"/>
		<property name="username" value="${ibm_wmq_outgoing_username}"/>
		<property name="password" value="${ibm_wmq_outgoing_password}"/>
		<property name="queueName" value="${ibm_wmq_outgoing_queue_name}"/>
	</bean>
	<camel:camelContext id="camelContext">
		<camel:contextScan/>
	</camel:camelContext>
</beans>
