<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:camel="http://camel.apache.org/schema/spring"
			 xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://camel.apache.org/schema/spring
       					http://camel.apache.org/schema/spring/camel-spring.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="com.bpcbt.sv.camel.authtrans"/>
	<bean id="boDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@rescue.bpc.in:1521:svfe_sbf"/>
		<property name="username" value="svrm_test"/>
		<property name="password" value="1"/>
	</bean>
	<!--Setup datasource example 1 -->
	<!--<jee:jndi-lookup id="dbDataSource" jndi-name="jdbc/SVWeb" expected-type="javax.sql.DataSource"/>-->
	<!--Setup datasource example 2 -->
	<!--<bean id="boDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">-->
	<!--<property name="jndiName" value="java:comp/env/jdbc/SVWeb"/>-->
	<!--</bean>-->
	<camel:camelContext id="camelContext">
		<camel:contextScan/>
	</camel:camelContext>
</beans>
