<routes>	
	<route>
		<from>activemq:queue:dbalInbox</from>
		<converter>com.bpcbt.sv.camel.converters.DbalConverter</converter>
		<to>activemq:queue:dbalOutbox</to>
	</route>
	<route>
		<from>activemq:queue:crefInbox</from>
		<converter>com.bpcbt.sv.camel.converters.CrefConverter</converter>
		<to>activemq:queue:crefOutbox</to>
	</route>
	<route>
		<from>activemq:queue:merchInbox</from>
		<converter>com.bpcbt.sv.camel.converters.MerchConverter</converter>
		<to>activemq:queue:merchOutbox</to>
	</route>
	<route>
		<from>activemq:queue:termInbox</from>
		<converter>com.bpcbt.sv.camel.converters.TermConverter</converter>
		<to>activemq:queue:termOutbox</to>
	</route>
	<route>
		<from>activemq:queue:notifInbox</from>
		<converter>com.bpcbt.sv.camel.converters.NotificationConverter</converter>
		<to>activemq:queue:notifOutbox</to>
	</route>
	<route>
		<from>activemq:queue:ratesInbox</from>
		<converter>com.bpcbt.sv.camel.converters.RateConverter</converter>
		<to>activemq:queue:ratesOutbox</to>		
	</route>
	<route>
		<from>activemq:queue:productInbox</from>
		<converter>com.bpcbt.sv.camel.converters.PassThroughConverter</converter>
		<to>activemq:queue:productOutbox</to>
	</route>
	<route>
		<from>activemq:queue:rejectInbox</from>
		<converter>com.bpcbt.sv.camel.converters.RejectConverter</converter>
		<to>activemq:queue:rejectOutbox</to>
	</route>
	<route>
		<from>activemq:queue:postingInbox</from>
		<converter>com.bpcbt.sv.camel.converters.PostingConverter</converter>
		<converter>TOSTRING</converter>
		<to>activemq:queue:postingOutbox</to>
		<!--to>activemq:queue:CUP_AUTH_QUEUE</to-->
		<encoding>UTF-8</encoding>
	</route>
	<route>
		<from>activemq:queue:iBankInbox</from>
		<converter>com.bpcbt.sv.camel.converters.SvipToISO8583</converter>
		<to>mina2:tcp://localhost:49002?sync=true&amp;codec=#encoder</to>
		<converter>com.bpcbt.sv.camel.converters.ISO8583ToSvip</converter>
		<converter>TOSTRING</converter>
		<to>activemq:queue:iBankOutbox?timeToLive=10000</to>	
		<encoding>UTF-8</encoding>
	</route>
</routes>
